<div class="form-group">
  <label for="post-content">Content</label>
  <textarea
    id="post-content"
    name="post-content"
    class="form-input"
    rows="2"
    cols="30"
  >{{post.content}}</textarea>
</div>