<div class="form-group">
  <label for="password-login">Password:</label>
  <input
    class="password-login"
    type="password"
    name="password"
    autocomplete="current-password"
    required=""
    id="password-input"
  />
  <i class="far fa-eye-slash" id="toggle-password"></i>
</div>