<div class="search-wrapper">
  <input
    class="search-input"
    type="text"
    name=""
    autocomplete=""
    required=""
    id="search-input"
    placeholder="Enter Campsite or Zip"
  />
  <i class="fa fa-search search-icon" id="search-icon"></i>
  <i class="fa fa-trash trash-icon hide" id="trash-icon"></i>
</div>