<div>
  <img
    class='spinner hide'
    id='spinner'
    src='/images/Spinner-4s-200-bluepx.gif'
    {{! src='/images/Spinner-2.6s-200-blackpx.gif' }}
    alt='Two second timer'
    loading='lazy'
  />
</div>
<div>
  {{! <p class='spinner hide' id='spinner-text' style='color:black;'>Loading...</p> }}
</div>