<div class="form-group">
  <button
    id="{{id}}"
    class="btn btn-primary btn-custom {{class}}"
    type="submit"
  >{{content}}</button>
</div>

{{! PARTIAL OPTIONS }}
{{!-- {{> submit-button content="Update Post" class="update-button" id="update-button"}}    --}}