<div class="form-group">
  <label for="post-title">Title</label>
  <textarea
    id="post-title"
    name="post-title"
    class="form-input"
    rows="1"
    cols="30"
    ;
  >{{post.title}}</textarea>
</div>