<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LONG TRAILS</title>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="./images/flavicon-hiker3.png"
    />


    {{! ADD FONTAWESOME }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"

    <!-- ADD BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />

    <!-- ADD GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet" />

    <!-- ADD STYLE SHEET-->
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/user-posts">Dashboard</a>
        {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </nav>
      <div class="header">
        {{#if dashboard}}
          <h1>Your Dashboard</h1>
        {{else}}
          <h1>The Tech Blog</h1>
        {{/if}}
      </div>
    </header>
    <main>
      <div class="post">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}

  <!-- MOMENT -->
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> --}}

  <!-- JQUERY LIBRARY -->
  {{!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> --}}

  <!-- JQUERY UI -->
  {{!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> --}}

  </body>
</html>