<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>HiKamp</title>
    <link
      rel='shortcut icon'
      type='image/jpg'
      href='/images/flavicon-hiker3.png'
    />

    {{! ADD FONTAWESOME }}
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'
    />

    <!-- ADD BOOTSTRAP -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css'
    />

    <!-- ADD GOOGLE FONT -->

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bangers&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Splash&display=swap'
      rel='stylesheet'
    />

    <!-- ADD STYLE SHEET-->
    <link rel='stylesheet' type='text/css' href='/css/jass.css' />
    <link rel='stylesheet' type='text/css' href='/css/location-button.css' />
    <link rel='stylesheet' type='text/css' href='/css/search-input.css' />
    <link rel='stylesheet' type='text/css' href='/css/auto-complete.css' />
    <link rel='stylesheet' type='text/css' href='/css/map.css' />
    <link rel='stylesheet' type='text/css' href='/css/search-results.css' />
    <link rel='stylesheet' type='text/css' href='/css/validation-modal.css' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />

  </head>

  <body class='background_image'>
    <div class='m-2 my-2 py-2'>
      <header id='header'>
        <nav class='col-12 rounded'>

          <div class='dropdown col-2 dropdown-wrapper'>
            <button
              class='btn btn-secondary camp-dropdown-toggle menu'
              type='button'
              id='dropdownMenu2'
              data-toggle='dropdown'
              aria-haspopup='true'
              aria-expanded='false'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='25'
                height='25'
                fill='#DEB887'
                class='bi bi-list'
                viewBox='0 0 16 16'
              >
                <path
                  fill-rule='evenodd'
                  d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'
                >
                </path>
              </svg>
            </button>
            <div class='dropdown-menu' aria-labelledby='dropdownMenu2'>
              <!-- Dropdown menu links -->
              <a href='/'>Home</a>
              {{!add conditional for being on userCamps view}}
              {{#if comments}}
                <a href='#comment-box'>Comments</a>
              {{/if}}
              <div class='dropdown-divider border-top border-black'></div>
              {{#if loggedIn}}
                <button id='logout' class='btn-no-style'>Logout</button>
              {{else}}
                <a href='/login'>Login</a>
              {{/if}}
            </div>
          </div>
          <div class='header'>
            {{#if dashboard}}
              <h1 class='row white app_name px-2 py-1'>Your Dashboard</h1>
            {{else}}
              <h1 class='row white app_name px-2 py-1'>HiKamp</h1>
            {{/if}}
          </div>
          <div class='col-2'></div>
        </nav>
      </header>

      {{! section }}
      <main id='main-row' class='row d-flex align-items-stretch'>

        {{{body}}}

      </main>

      {{#if loggedIn}}
        <script src='/js/logout.js'></script>
      {{/if}}
    </div>

    <!-- JQUERY LIBRARY -->
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>

    <!-- JQUERY UI -->
    <script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>

    {{! GOOGLE MAP }}
    <script
      src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBq4HnHzwNh73EaYuMbKSqN2OiSNrAespw'
      async
      defer
    ></script>
    <script
      src='https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js'
    ></script>

    <!-- BOOTSTRAP - JQUERY REQUIRED FOR BOOTSTRAP ADDED ABOVE -->
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js'
    ></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js'
    ></script>

  </body>

</html>