<div class="login-card">
  <h2 class="login-title">Create New Post</h2>
  <form class="form login-form">
    {{> title-input }}
    {{> content-input }}
    {{> submit-button content="Create"}}   
  </form>
    {{> add-post-button }}
</div>

<script src="./js/createPost.js"></script>