<div class="login-card">
  <h2 class="login-title">Edit Post</h2>
  <form class="form login-form">
    {{> title-input }}
    {{> content-input }}
    {{> submit-button content="Update Post" class="update-button" id="update-button"}}   
    {{> submit-button content="Delete Post" class="delete-button" id="delete-button"}}  
  </form>
</div>

<script src="/js/updatePost.js"></script>

