{{!-- <aside class="aside-map-page">
  {{> search-input }}
  <section class="resultsContainer">
    {{> search-results }}
  </section>
</aside> --}}

  {{!-- {{> map-details }} --}}
  {{!-- {{> validation-modal }} --}}


{{!-- //section --}}
{{!-- <section id="main-row" class="row">
    <div id="userCamp-aside" class="col-2 text-white my-2 p-3 rounded see-thru"> --}}
      <aside class="aside-map-page">
        {{> search-input }}
        <section class="resultsContainer">
          {{> search-results }}
        </section>
  {{> spinner }}
      </aside>
    {{!-- </div>
</section> --}}

{{!-- <div id="content-box" class="col text-white rounded see-thru my-2 p-3">
    <div id="campsite-header" class="row">


         --}}
  {{> map-details }}
  {{> validation-modal }}

{{!-- 
        <div class="row  mt-3 body-text">

        </div>
    </div>

  </section> --}}

  <script src="/js/map.js"></script>