<div class="aside-map-page p-1 m-2 col-3 rounded see-thru ">
  {{!-- <div class="col"> --}}
    {{> search-input }}
    {{!-- </div> --}}
  <div>
    <details id="search-result-drop" class="col-12 text-white mb-2 p-1">
      <summary class="text-center">RESULTS</summary>
      <br>
      <div class="resultsContainer border-top border-dark">
        {{> search-results }}
      </div>
    </details>
  </div>
</div>

<div class="map-map-page col">
  <div class="container">
    {{> map-details }}
    {{> validation-modal }}
  </div>
</div>




<script src="/js/map.js"></script>