<aside class="aside-map-page">
  {{> search-input }}
  <section class="resultsContainer">
    {{#each campsites as |camp|}}
      {{> search-results }}
    {{/each}}
  </section>
</aside>

  {{> map-details }}
  {{> validation-modal }}

<script src="/js/map.js"></script>