{{!-- SECTION: GOOGLE MAP --}}
  {{!-- /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
  /* Optional: Makes the sample page fill the window. */ --}}
<style>
  aside {position: absolute; top:20vh; right:80vw; bottom:0;}
  input {margin: 10px; height: 40px; width: 250px; border-radius: 3px;}
  .resultsContainer {height: 70vh; top:25vh; overflow: scroll;}
  {{!-- p {width: 200px;} --}}
  .map { position: absolute; top:20vh; left: 20vw; bottom:0; width:80vw; }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<aside>
  <input type="text">
  <div class="resultsContainer">
    <p id="searchResults"></p>
  </div>
</aside>


<div class="map" id="map"></div>

{{!-- <script src="/js/searchResults.js"></script> --}}
<script src="/js/map.js"></script>