{{!-- <p>Hello</p>
<p id="map" style="position:absolute; top:0; bottom:0; width:100%;">hello</p> --}}

{{!-- SECTION MAPBOX --}}
{{!-- <style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style> --}}

{{!-- <div id='map'></div>
<script src="/js/map.js"></script> --}}

{{!-- <source media="(https://docs.mapbox.com/mapbox.js/example/v1.0.0/)" srcset=""> --}}
{{!-- https://docs.mapbox.com/mapbox.js/example/v1.0.0/animate-marker-along-line/ --}}

{{!-- SECTION: GOOGLE MAP --}}
  {{!-- /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
  /* Optional: Makes the sample page fill the window. */ --}}
<style>
  aside {position:absolute; top:20vh; right:80vw; bottom:0}
  .map { position:absolute; top:20vh; left: 20vw; bottom:0; width:80vw; }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<aside >
  <p>Hello</p>
</aside>

<div class="map" id="map"></div>

<script src="/js/map.js"></script>

{{!-- SECTION: GOOGLE MAP --}}