{{!-- SECTION: GOOGLE MAP --}}
  {{!-- /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
  /* Optional: Makes the sample page fill the window. */ --}}
<style>
  main {display: flex; flex-direction: row;}
  aside {top:20vh; width: 25vw; bottom:0;}
  input {
    margin: 5px; 
    height: 40px; 
    width: 275px; 
    border-radius: 3px;
  }
  .resultsContainer {
    height: 70vh; 
    top:25vh; 
    overflow: scroll;
  }
  .map { 
    position: absolute; 
    width: 75vw; 
    top: 20vh; 
    left: 25vw; 
    bottom:0; 
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 1000px) {
    .map {
      position: absolute; 
      top:30vh; 
      left: 0; 
      bottom:0; 
      width:100vw; 
    }

    aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      min-width: 375px;
    }

    input {
      margin-top: 15px;
      margin-left: 0;
      margin-right: 0;
    }

    p {
      color: red;
      display: none;
    }
  }
  /* JQUERY AUTOCOMPLETE CSS */
  .ui-autocomplete {
    max-width: 275px;
    background-color: white;
    border: 1px solid black;
    z-index: 2147483647;
    height: 250px;
    overflow: scroll;
    {{!-- padding: 5px; --}}
  }
  /* ENSURES THE AUTOCOMPLETE ITEM DOESNT RENDER AT THE BOTTOM LEFT OF DESKTOP UX */
  .ui-helper-hidden-accessible {
    display: none !important;
  }
</style>

<main>

  <aside>
    <input id="search-input" type="text">
    <div class="resultsContainer">
      <p id="searchResults"></p>
    </div>
  </aside>

  <div class="map" id="map"></div>

</main>

{{!-- <script src="/js/searchResults.js"></script> --}}
{{!-- <script src="/seeds/parkList.js"></script> --}}
<script src="/js/map.js"></script>