.aside-map-page {
  margin-right: 10px;
  width: 20vw;
  height: 79vh;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
}
.map-ahref {
  color: black;
}
.map { 
  position: absolute;
  width: 71vw;
  height: 79vh;
  width: 100%;
  /* top: 17.35vh; */
  left: 0;
  bottom: 0;
  border-radius: 0.25rem;
  background-color: white;
}
/* SPINNER */
.spinner {
  width: 150px;
  height: 150px;
  font-size: 24px;
  color: white;
}
.spinner {
  margin: 0 auto;
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 30vh;
  left: 0;
  right: 0;
}
@media screen and (max-width: 1300px) {
  .aside-map-page {
    background-color:rgba(0, 0, 0, 0.0);
    width: 70vw;
    height: 100%;
  }
  .map {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70vh;
  }
}