.aside-map-page {
  margin: 5px 0px 5px 8px;
  /* margin: 5px;
  margin-left: 8px; */
  height: 79vh;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
}
.map-ahref {
  color: black;
}
.map { 
  position: absolute;
  width: 71vw;
  height: 79vh;
  width: 780px;
  top: 17.35vh;
  left: 36vw;
  bottom: 0;
  border-radius: 0.25rem;
  /* background-color: white; */
}
@media screen and (max-width: 1300px) {
  .aside-map-page {
    background-color:rgba(0, 0, 0, 0.0);
  }
  .map {
    position: absolute; 
    width: 94vw; 
    height: 70vh;
    top: 30vh; 
    left: 3vw; 
    bottom: 0; 
  }
}