.search-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-icon,
.trash-icon {
  position: fixed;
  margin-right: 12px;
  font-size: 24px;
  cursor: pointer;
  background-color: white;
  color: gray;
}
.search-input {
  margin: 0.625rem 0;
  height: 40px; 
  width: 275px; 
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #484848;
  border-radius: 3px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}