.search-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 0 0; */
}
.search-icon,
.trash-icon {
  position: absolute;
  margin-right: 12px;
  font-size: 24px;
  cursor: pointer;
  background-color: white;
  color: gray;
}
.search-input {
  margin: 0.625rem 0;
  height: 40px; 
  width: 100%; 
  font-size: 100%;
  border: 1px solid #484848;
  border-radius: 3px;
}
.hide {
  display: none;
}
.show {
  display: flex;
}

/* @media screen and (max-width: 1300px) {
  .search-input {
    position: absolute;
    width: 90vw; 
    left: 0;
  }
} */
