/*general styling*/
a {
    color: burlywood;
}

.row {
    margin: auto
}

.see-thru {
    background-color: rgba(0, 0, 0, 0.75);
}

/*favorites star checkbox*/
.star {
    visibility: hidden;
    font-size: 32px;
    color: gold;
    cursor: pointer;
    outline-color: black;
}

.star:before {
    content: "\2606";
    visibility: visible;
    position: relative;
    right: 15px;
    top: 5px;
}

.star:checked:before {
    content: "\2605";
    position: relative;
    right: 15px;
    top: 5px;
}

#favStarEl {
    font-size: 12px;
    float: right;
}

/*favorites aside*/
#userCamp-aside {
    overflow-y: scroll;
    height: 80vh;
}

.favorite-wrapper {
    height: 80vh;
    overflow: scroll;
}

/*main content box*/
#content-box {
    overflow-y: scroll;
    height: 80vh;
    margin-bottom: 50px !important;
}

#comment-box {
    overflow-y: scroll;
    max-height: 40vh;
    background-color: rgb(14, 88, 14);
    box-shadow: 0 0 5px 0px white;
}

#comment-element {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: var(--border-radius);
}

/**/
#nps-link {
    position: absolute;
    bottom: 5px;
    left: 20px;
    z-index: 1;
    background-color: rgb(14, 88, 14);
    box-shadow: 0 0 3px 0px white;
    border-radius: var(--border-radius);
}

#nps-link.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
}

#nps-link.button:hover {
    vertical-align: top;
    padding: 8px 13px 6px;
    color: black;
    background-color: white;
    border-color: white;
    transition: 0.35s;
}

#nps-link.button:visited {
    color: burlywood;
}

/*favorites aside @*/
@media screen and (max-width: 1300px) {
    .favorite-wrapper {
        /* height: 275px; */
        overflow: scroll;
    }

    #content-box {
        min-height: 400px;
    }
}